{% extends 'app_blog/base.html' %}

{% block titulo %}
Mundo Futbol | Editar Perfil
{% endblock %}


{% block contenido %}

<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-4">

            <h1 class="text-center">Editar Perfil</h1>
            <p class="text-center fw-bold fst-italic">Completa los campos...</p>

        <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form_editar.as_p }}
        {{ form_foto.as_p}}

        <div class="d-flex justify-content-around">
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            <a class="btn btn-secondary" href="{% url 'ver-perfil' %}">Volver</a>
        </div>
        </form>

        </div>
    </div>
</div>


{% endblock %}

