{% extends 'app_blog/base.html' %}

{% load static %}

{% block titulo %}
Acerca de Mundo Fútbol
{% endblock titulo %}

{% block contenido %}

<div class="card mb-4">
    <div class="card-body text-center">
        <p>¡Bienvenidos a nuestro espacio dedicado al apasionante mundo del fútbol argentino!</p>
        <p> Mundo Fútbol es un blog creado para ofrecerte las últimas novedades, análisis, y opiniones sobre el deporte que nos une a todos: el fulbooooo. Aquí encontrarás información sobre los equipos, jugadores, torneos y el mercado de pases del Fútbol Argentino.</p>
        <p>Este proyecto fue fundado por Leonardo Fredes, un apasionado del deporte y la tecnología. Como programador formado en 'La Casa del Código', ha combinado sus conocimientos técnicos con su experiencia en periodismo deportivo, adquirida en ESED, para ofrecer un blog moderno, funcional y lleno de contenido de calidad.</p>
        <p>Con años de experiencia en redacción de contenidos y un profundo conocimiento del fútbol argentino, este blog es un espacio pensado para quienes viven y respiran fútbol. Desde análisis de partidos hasta coberturas de los torneos más importantes, aquí encontrarás una perspectiva única y profesional del deporte que mueve pasiones en todo el país.</p>
        <p>Te invitamos a ser parte de esta comunidad futbolera y a compartir con nosotros la pasión por el fútbol argentino.</p>
    </div>
</div>

{% endblock contenido %}
