{% extends 'app_blog/base.html' %}

{% load static %}

{% block titulo %}
Inicio de Sesión
{% endblock %}

{% block contenido %}

<h2 class="text-center mt-4">Inicio de Sesión</h2>

<form class="d-flex w-25 flex-column m-auto mb-4" method="post" action="{% url 'iniciar-sesion' %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="username">Nombre de usuario:</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Ingrese su nombre de usuario" required>
    </div>
    <div class="form-group">
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Ingrese su contraseña" required>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Iniciar Sesión</button>
</form>
    

{% endblock %}